@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    width: 99vw;
    height: 100vh;
}
li {
    font-weight: 400;
}

.main-div {
    width: 100%;
    padding-left: 150px;
    padding-right: 100px;
    margin-top: 70px;
}
.main {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}
.register-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
}
.login-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
}
.search-menu-nav {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2e266f;
}

.nav-rigth {
    width: 210px;
    height: 97px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-left: 5px solid #efc81a;
}

.nav-photo {
    display: flex;
    align-items: center;
}

.nav-text {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.article {
    margin-left: 96px;
    margin-top: 110px;
}
.article2 {
    padding-left: 20px;
    margin-top: 10vh;
}

.comment-section {
    width: 1490px;
    height: 50vh;
    border-top: 5px solid #efc81a;
    border-bottom: 5px solid #efc81a;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.footer {
    margin-top: 15vh;
    width: 99vw;
    height: 685px;
    background-color: #efc81a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.footer-text {
    margin-top: 30vh;
}

.footer-text-end {
    display: flex;
    justify-content: end;
    width: 100%;
}

.button-comment {
    width: 426px;
    height: 64px;
    border-radius: 6px;
    background-color: #ffb167;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    text-align: center;
    border: none;
}

.button-comment:hover {
    background-color: #f37600;
}
.button-comment:focus {
    background-color: #f37600;
}
